<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dawndemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NavigationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.NavigationBarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.anim.ShareElement1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.anim.ShareElement2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.service.ServiceActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".ui.service.StartService">
        </service>
        <service android:name=".ui.service.BindService">
        </service>

        <!-- 测试服务，回调 -->
        <service android:name=".ui.zmservice.ZMService"/>

        <activity
            android:name=".ui.zmservice.ZMActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.zmservice.ZMActivityTest2"/>

        <activity android:name=".ui.BannerActivity"/>
        <activity android:name=".recycler.ui.RecyclerListActivity"/>

        <activity android:name=".recycler.ui.RecyclerActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="landscape"
                  android:windowSoftInputMode="adjustPan|stateHidden"
            />
        <activity android:name=".recycler.ui.LibRecyclerActivity"/>

        <activity android:name=".ui.DrawableBackgroundActivity"/>
        <activity android:name=".ui.TextWatcherActivity"/>

        <activity android:name=".ui.binding.DataBindingMainActivity"/>
        <activity android:name=".ui.binding.DataBindingActivity"/>
        <activity android:name=".ui.binding.EditActivity"/>
        <activity android:name=".ui.binding.BindObservableActivity"/>
        <activity android:name=".ui.binding.BindObservableListActivity"/>

        <activity android:name=".ui.notify.NotifyMainActivity"/>
        <activity android:name=".ui.notify.NotifyOpenActivity"/>
        <activity android:name=".ui.SpanActivity"/>
        <activity
            android:name=".animal.TestAnimalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden"
            />
        <activity
            android:name=".animal.TestDialogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".viewPager.TestViewPagerActivity"></activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.VIBRATE"/>-->
</manifest>